parameters:
  level: 8
  paths:
    - src
    - tests
  tmpDir: var/cache/phpstan
  bootstrapFiles:
    - vendor/autoload.php
  parallel:
    jobSize: 20
    maximumNumberOfProcesses: 32
    minimumNumberOfJobsPerProcess: 2
