parameters:
    logFile: %baseDir%/logs/log.txt

services:
    application: GameOfLife\Application
    - GameOfLife\Command\RunCommand
    - GameOfLife\IO\Input\XmlFileReaderFactory
    - GameOfLife\IO\Output\XmlFileWriterFactory
    - GameOfLife\IO\Output\OutputStyleFactory
    - GameOfLife\Helper\WorldFormatter
    - GameOfLife\Environment\NeighboursFactory
    - GameOfLife\Environment\WorldFactory
    - Symfony\Component\Console\Application
    - Sabre\Xml\Service
