parameters:
    logFile: %baseDir%/logs/log.txt

services:
    application: GameOfLife\Application
    - GameOfLife\SingleCommand
    - GameOfLife\Input\XmlFileReaderFactory
    - GameOfLife\Output\OutputStyleFactory
    - Symfony\Component\Console\Application
    - Sabre\Xml\Service
